@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Dancing+Script&family=Poppins&display=swap');
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

body {
  background: skyblue;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 100px) {
  .section1, .section2, .section3, .section4, .section5 {
    display: none;
  }
  .mobile {
    font-family: "DM Sans", sans-serif;
  }
  .mobile .section6 {
    display: block;
    width: 100%;
    background: black;
    color: white;
    border-bottom: 2px solid grey;
    height: contain;
    padding-bottom: 350px;
  }
  .mobile .section6 div, .mobile .section6 p {
    margin-left: 25px;
    margin-right: 25px;
  }

   .mobile .section6 .navbar h2{
       font-family: "Dancing Script", cursive;
       color: red;
       margin-right: auto;
       font-size: 9.5vw;
    font-weight: 700;
   }
  .mobile .section6 .navbar{
    background: rgb(0,0,0,0.7);
    color: white;
    width: 100vw;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    position: fixed;
    margin: 0;
    top: 0;
    border-top: 2.5px solid grey;
    border-bottom: 2.5px solid grey;
}
.mobile .section6 #toggle {
    background: black;
    width: 10vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile .section6 #toggle::before {
    content: "";
    position: absolute;
    width: 6vw;
    height: 3px;
    background: white;
    transform: translateY(-5px);
    transition: 0.3s;
    margin-right: auto;
}
.mobile .section6 #toggle::after {
    content: "";
    position: absolute;
    width: 6vw;
    height: 3px;
    background: white;
    transform: translateY(5px);
    transition: 0.3s;
    margin-right: auto;
}
.mobile .section6 #toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}
.mobile .section6 #toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}
.mobile .section6 .navbar #sidebar {
    width: 200px;
    position: fixed;
    left: -350px;
    top: 60px;
    background: ghostwhite;
    height: 240px;
    transition: 0.5s;
    text-align: left;
    border: 2px solid grey;
    border-radius: 5px;
  }
.mobile .section6 .navbar #sidebar .ul{
    margin: 15px auto auto 0px;
}
.navbar #sidebar .ul a:hover {
    background: red;
 }
.mobile .section6 #sidebar a {
    font-size: 20px;
    background-color: transparent;
    color: black;
    font-weight: 500;
    transition: 0.3s;
    display: block;
    padding: 05px 0 10px 0px;
    text-decoration: none;
    text-align: center;

  }
.mobile .section6 #sidebar.active {
    left: -9px;
}
    
  .mobile .section6 .home {
    margin: 0;
  }
  .mobile .section6 .home :nth-child(1) {
    font-weight: 500;
    font-size: 4vw;
    color: red;
    padding-top: 180px;
    margin-bottom: 8px;
  }
  .mobile .section6 .home :nth-child(2) {
    font-size: 8vw;
    font-weight: 650;
    margin-bottom: 8px;
  }
  .mobile .section6 .home :nth-child(3) {
    font-weight: 500;
    font-size: 6vw;
    margin-bottom: 8px;
  }
  .mobile .section6 .home :nth-child(4) {
    font-size: 5vw;
  }
  .mobile .section6 .home .resume {
    text-decoration: none;
    color: white;
    font-weight: 500;
    border: 2px solid red;
    padding: 8px;
    font-size: 5vw;
    border-radius: 5px;
   /* font-size: 18px;*/
    margin: 0 25px;
  }
  .mobile .section6 .home .resume:hover {
    background: red;
    color: white;
  }
  .mobile .section7 {
    display: block;
    width: 100%;
    color: black;
    border-bottom: 2px solid grey;
    background: ghostwhite;
    height: 315vw;
  }
  .mobile .section7 div, .mobile .section7 p {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 4.6vw;
  }
  .mobile .section7 :nth-child(1) {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 6.2vw;
    padding-top: 30px;
    margin-bottom: 13px;
  }
  .mobile .section7 :nth-child(1) span {
    color: red;
  }
  .mobile .section7 :nth-child(2) {
    font-size: 4.6vw;
    text-indent: 20px;
  }
  .mobile .section7 img {
    margin: 2vw auto 3vw auto;
    display: block;
    width: 70vw;
    height: 56vw;
  }
  .mobile .section7::before {
    display: block;
    content: " ";
    height: 50px;
    margin-top: -150px;
    visibility: hidden;
  }
  .mobile .section8 {
    display: block;
    width: 100%;
    background: black;
    color: white;
    border-bottom: 2px solid grey;
    height: contain;
  }
  .mobile .section8 div, .mobile .section8 p {
    margin-left: 25px;
    margin-right: 25px;
  }
  .mobile .section8::before {
    display: block;
    content: " ";
    height: 50px;
    margin-top: -150px;
    visibility: hidden;
  }
  .mobile .section8 :nth-child(1) {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 6.2vw;
    padding-top: 30px;
    margin-bottom: 8vw;
  }
  .mobile .section8 :nth-child(1) span {
    color: red;
  }
  .mobile .section8 div {
    margin-bottom: 9vw;
  }
  .mobile .section8 div svg {
    width: 8.2vw;
    height: 8.2vw;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .mobile .section8 div p {
    margin: 0;
    padding: 0;
    font-size: 4.6vw;
  }
  .mobile .section8 div :nth-child(2) {
    font-size: 5vw;
    font-weight: 600;
  }
  .mobile .section8 :nth-child(6) {
    padding-bottom: 140px;
  }
  .mobile .section9 {
    display: block;
    width: 100%;
    background: black;
    border-bottom: 2px solid grey;
    height: contain;
    color: black;
    background: ghostwhite;
  }
  .mobile .section9 div, .mobile .section9 p {
    margin-left: 25px;
    margin-right: 25px;
  }
  .mobile .section9::before {
    display: block;
    content: " ";
    height: 50px;
    margin-top: -150px;
    visibility: hidden;
  }
  .mobile .section9 :nth-child(1) {
    text-align: left;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 6.2vw;
    padding-top: 30px;
    margin-bottom: 11vw;
  }
  .mobile .section9 :nth-child(1) span {
    color: red;
  }
  .mobile .section9 .boxa {
    height: contain;
    width: 88%;
    margin: 0 auto 6vw auto;
    border-radius: 20px;
    background: white;
    color: black;
    border: 1px solid black;
  }
  .mobile .section9 .boxa h2 {
    margin: 0 0 10px 15px;
    padding: 15px 0 0 0;
    font-size: 5vw;
    letter-spacing: 0;
  }
  .mobile .section9 .boxa p {
    margin: 5px 15px 10px 15px;
    font-size: 4.6vw;
    font-weight: 500;
  }
  .mobile .section9 .boxa .set {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mobile .section9 .boxa .set span {
    color: red;
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: 0;
    margin-right: 10px;
  }
  .mobile .section9 .boxa .set .last a img {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 4vw;
    height: 4vw;
  }
  .mobile .section9 .boxa:hover {
    background: red;
  }
  .mobile .section9 .boxa:hover .set span {
    color: white;
  }
  .mobile .section10 {
    display: block;
    width: 100%;
    background: black;
    color: white;
    border-bottom: 2px solid grey;
    height: contain;
    text-align: center;
  }
  .mobile .section10 div, .mobile .section10 p {
    margin-left: 25px;
    margin-right: 25px;
  }
  .mobile .section10 h2 {
    padding: 30px 0 5px 0;
    font-size: 5vw;
    font-weight: 500;
  }
  .mobile .section10 h5 {
    font-size: 3.6vw;
    font-weight: 450;
  }
  .mobile .section10 .icon {
    margin: 20px 0 20px 0;
  }
  .mobile .section10 .icon a {
    text-decoration: none;
  }
  .mobile .section10 .icon a img {
    margin-right: 10px;
    width: 8vw;
    height: 8vw;
  }
  .mobile .section10 p a {
    font-style: italic;
    text-decoration: none;
    color: white;
    font-size: 4.3vw;
  }
}

/*Tablet View*/
@media (min-width: 1090px) {
  .mobile {
    display: none;
  }
  .section1 {
    display: block;
    width: 100%;
    height: 580px;
    background: black;
    border-bottom: 2px solid red;
  }
  .section1 .socials {
    display: block;
    height: 266px;
    width: 38px;
    float: left;
    border-radius: 15px;
    margin: 150px 30px 0 70px;
    border: 1px solid red;
    text-align: center;
  }
  .section1 .socials svg {
    width: 20px;
    height: 20px;
    color: white;
    margin-top: 16px;
  }
  .section1 .skew {
    position: relative;
    padding: 0em 5em 0em 0em;
    overflow: hidden;
    color: red;
    height: 100%;
    float: right;
    width: 55%;
  }
  .section1 .skew::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform-origin: 100% 0%;
    transform: skew(18deg);
    z-index: 0;
  }
  .section1 .skew div {
    z-index: 1;
    position: absolute;
    margin-left: 240px;
    margin-top: 15px;
    color: black;
  }
  .section1 .skew div a {
    text-decoration: none;
    font-weight: 600;
    margin-right: 15px;
    color: black;
  }
  .section1 .skew div a:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: red;
            text-decoration-color: red;
    text-decoration-thickness: 2.3px;
  }
  .section1 .skew div :nth-child(6) {
    margin: 90px 0 0px 0;
    font-weight: 600;
    letter-spacing: 6px;
    font-size: 25px;
    color: red;
  }
  .section1 .skew div :nth-child(7) {
    font-weight: 900;
    font-size: 40px;
    color: black;
  }
  .section1 .skew div :nth-child(8) {
    font-weight: 600;
    font-size: 15px;
  }
  .section1 .skew div :nth-child(9) {
    margin: 8px 0 18px 0;
    width: 380px;
  }
  .section1 .skew div button {
    background: black;
    padding: 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 4px;
    transition: background 0.3s;
  }
  .section1 .skew div button:hover {
    color: black;
    background: white;
    font-weight: 600;
    border: 1.2px solid red;
  }
  .section2 {
    display: block;
    width: 100%;
    height: 580px;
    background: black;
    border-bottom: 2px solid red;
  }
  .section2 .about {
    color: white;
    margin-right: 8%;
    width: 380px;
    float: right;
  }
  .section2 .about :nth-child(1) {
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 25px;
    color: red;
    padding-top: 220px;
  }
  .section2 .about :nth-child(2) {
    font-size: 22px;
  }
  .section2 .skew {
    position: relative;
    padding: 0em 5em 0em 0em;
    overflow: hidden;
    color: red;
    height: 100%;
    float: right;
    width: 55%;
    float: left;
    width: 47%;
  }
  .section2 .skew::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform-origin: 100% 0%;
    transform: skew(18deg);
    z-index: 0;
  }
  .section2 .skew::after {
    transform: skew(-18deg);
  }
  .section2 .skew div {
    z-index: 1;
    position: absolute;
    margin-left: 50px;
    margin-top: 100px;
    color: black;
  }
  .section2 .skew div img {
    width: 400px;
    height: 370px;
  }
  .section3 {
    display: block;
    width: 100%;
    height: 580px;
    background: black;
    border-bottom: 2px solid red;
    text-align: center;
    height: 850px;
  }
  .section3 p {
    font-size: 30px;
    font-weight: 700;
    padding-top: 50px;
    color: white;
    margin-bottom: 30px;
  }
  .section3 .boxes {
    width: 1000px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    -moz-column-gap: 40px;
         column-gap: 40px;
    margin: auto;
  }
  .section3 .boxes .skill {
    height: 305px;
    width: 300px;
    background: white;
    color: black;
    font-size: 16px;
    border-radius: 20px;
    transition: background 0.5s;
    text-align: left;
  }
  .section3 .boxes .skill:hover {
    background: #FF0000;
    color: black;
    cursor: pointer;
  }
  .section3 .boxes .skill:hover h4 {
    color: white;
  }
  .section3 .boxes .skill:hover h6 {
    color: white;
  }
  .section3 .boxes .skill svg {
    margin: 20px 20px 24px 20px;
  }
  .section3 .boxes .skill h4 {
    font-weight: 700;
    font-size: 22px;
    margin: 0 7px 10px 20px;
  }
  .section3 .boxes .skill h6 {
    font-size: 16px;
    font-weight: 400;
    margin: 0 15px 0 20px;
  }
  .section4 {
    display: block;
    width: 100%;
    height: 580px;
    background: black;
    border-bottom: 2px solid red;
    height: 1500px;
    text-align: center;
    color: white;
  }
  .section4 p {
    font-size: 30px;
    font-weight: 700;
    padding-top: 80px;
    margin-bottom: 60px;
  }
  .section4 .left .box1 {
    height: 260px;
    width: 450px;
    border-radius: 20px;
    background: white;
    color: black;
    transition: background 0.5s;
    margin: 80px auto 0 auto;
  }
  .section4 .left .box1:hover {
    background: red;
    color: white;
  }
  .section4 .left .box1:hover h4 {
    color: black;
  }
  .section4 .left .box1 p {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 5px 0;
    padding: 15px 0 0 0;
  }
  .section4 .left .box1 h5 {
    font-size: 15px;
    margin: 0 15px 15px 15px;
  }
  .section4 .left .box1 h4 {
    color: red;
  }
  .section4 .left .box1 h4 span {
    margin-right: 5px;
  }
  .section4 .left .box1 h4 svg {
    vertical-align: middle;
  }
  .section4 .left .box2 {
    height: 260px;
    width: 450px;
    border-radius: 20px;
    background: white;
    color: black;
    transition: background 0.5s;
    margin: 50px auto 0 auto;
  }
  .section4 .left .box2:hover {
    background: red;
    color: white;
  }
  .section4 .left .box2:hover h4 {
    color: black;
  }
  .section4 .left .box2 p {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 5px 0;
    padding: 15px 0 0 0;
  }
  .section4 .left .box2 h5 {
    font-size: 15px;
    margin: 0 15px 15px 15px;
  }
  .section4 .left .box2 h4 {
    color: red;
  }
  .section4 .left .box2 h4 span {
    margin-right: 5px;
  }
  .section4 .left .box2 h4 svg {
    vertical-align: middle;
  }
  .section4 .right .box1 {
    height: 220px;
    width: 420px;
    border-radius: 20px;
    background: white;
    color: black;
    transition: background 0.5s;
    margin: 50px auto 0 auto;
  }
  .section4 .right .box1:hover {
    background: red;
    color: white;
  }
  .section4 .right .box1:hover h4 {
    color: black;
  }
  .section4 .right .box1 p {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 5px 0;
    padding: 15px 0 0 0;
  }
  .section4 .right .box1 h5 {
    font-size: 15px;
    margin: 0 15px 15px 15px;
  }
  .section4 .right .box1 h4 {
    color: red;
  }
  .section4 .right .box1 h4 span {
    margin-right: 5px;
  }
  .section4 .right .box1 h4 svg {
    vertical-align: middle;
  }
  .section4 .right .box2 {
    height: 220px;
    width: 420px;
    border-radius: 20px;
    background: white;
    color: black;
    transition: background 0.5s;
    margin: 50px auto 0 auto;
  }
  .section4 .right .box2:hover {
    background: red;
    color: white;
  }
  .section4 .right .box2:hover h4 {
    color: black;
  }
  .section4 .right .box2 p {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 5px 0;
    padding: 15px 0 0 0;
  }
  .section4 .right .box2 h5 {
    font-size: 15px;
    margin: 0 15px 15px 15px;
  }
  .section4 .right .box2 h4 {
    color: red;
  }
  .section4 .right .box2 h4 span {
    margin-right: 5px;
  }
  .section4 .right .box2 h4 svg {
    vertical-align: middle;
  }
  .section4 .mid-svg {
    display: none;
  }
  .section5 {
    display: block;
    background: #EDEDED;
    height: 300px;
    text-align: center;
  }
  .section5 h2 {
    padding: 70px 0 5px 0;
  }
  .section5 .icons {
    padding: 20px 0;
  }
  .section5 .icons a {
    text-decoration: none;
    padding-right: 10px;
  }
  .section5 p a {
    font-style: italic;
    text-decoration: none;
    color: black;
  }
}

/*Laptop View*/
@media (min-width: 1150px) {
  .mobile {
    display: none;
  }
  .section1 {
    width: 100%;
    height: 580px;
    background: black;
    border-bottom: 2px solid red;
  }
  .section1 .socials {
    display: block;
    height: 266px;
    width: 38px;
    float: left;
    border-radius: 15px;
    margin: 150px 30px 0 70px;
    border: 1px solid red;
    text-align: center;
  }
.section1 .socials img {
    width: 20px;
    height: 20px;
    color: white;
    margin-top: 23px;
  }
  .section1 .skew {
    position: relative;
    padding: 0em 5em 0em 0em;
    overflow: hidden;
    color: red;
    height: 100%;
    float: right;
    width: 55%;
  }
  .section1 .skew::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform-origin: 100% 0%;
    transform: skew(18deg);
    z-index: 0;
  }
  .section1 .skew div {
    z-index: 1;
    position: absolute;
    margin-left: 240px;
    margin-top: 15px;
    color: black;
  }
  .section1 .skew div a {
    text-decoration: none;
    font-weight: 600;
    margin-right: 15px;
    color: black;
    scroll-behavior: smooth;
  }
  .section1 .skew div a:hover {
    text-decoration: underline 2.3px red;
  }
  .section1 .skew div :nth-child(6) {
    margin: 90px 0 0px 0;
    font-weight: 600;
    letter-spacing: 6px;
    font-size: 25px;
    color: red;
  }
  .section1 .skew div :nth-child(7) {
    font-weight: 900;
    font-size: 40px;
    color: black;
  }
  .section1 .skew div :nth-child(8) {
    font-weight: 600;
    font-size: 15px;
  }
  .section1 .skew div :nth-child(9) {
    margin: 8px 0 18px 0;
    width: 380px;
  }
  .section1 .skew div button {
    background: black;
    padding: 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 4px;
    transition: background 0.3s;
  }
  .section1 .skew div button:hover {
    color: black;
    background: white;
    font-weight: 600;
    border: 1.2px solid red;
  }
  .section2 {
    width: 100%;
    height: 580px;
    background: black;
    border-bottom: 2px solid red;
  }
  .section2 .about {
    color: white;
    margin-right: 8%;
    width: 380px;
    float: right;
  }
  .section2 .about :nth-child(1) {
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 25px;
    color: red;
    padding-top: 170px;
  }
  .section2 .about :nth-child(2) {
    font-size: 22px;
  }
  .section2 .skew {
    position: relative;
    padding: 0em 5em 0em 0em;
    overflow: hidden;
    color: red;
    height: 100%;
  }
  .section2 .skew::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform-origin: 100% 0%;
    transform: skew(18deg);
    z-index: 0;
  }
  .section2 .skew::after {
    transform: skew(-18deg);
  }
  .section2 .skew div {
    z-index: 1;
    position: absolute;
    margin-left: 50px;
    margin-top: 100px;
    color: black;
  }
  .section2 .skew div img {
    width: 410px;
    height: 380px;
  }
  .section3 {
    width: 100%;
    background: black;
    border-bottom: 2px solid red;
    text-align: center;
    height: 850px;
  }
  .section3 p {
    font-size: 30px;
    font-weight: 700;
    padding-top: 50px;
    color: white;
    margin-bottom: 30px;
  }
  .section3 .boxes {
    width: 1000px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
    margin: auto;
  }
  .section3 .boxes .skill {
    height: 305px;
    width: 300px;
    background: white;
    color: black;
    font-size: 16px;
    border-radius: 20px;
    transition: background 0.5s;
    text-align: left;
  }
  .section3 .boxes .skill:hover {
    background: #FF0000;
    color: black;
    cursor: pointer;
  }
  .section3 .boxes .skill:hover h4, .section3 .boxes .skill:hover h6 {
    color: white;
  }
  .section3 .boxes .skill svg {
    margin: 20px 20px 24px 20px;
  }
  .section3 .boxes .skill h4 {
    font-weight: 700;
    font-size: 22px;
    margin: 0 7px 10px 20px;
  }
  .section3 .boxes .skill h6 {
    font-size: 16px;
    font-weight: 400;
    margin: 0 15px 0 20px;
  }
  .section4 {
    width: 100%;
    background: black;
    border-bottom: 2px solid red;
    height: 1800px;
    text-align: center;
    color: white;
  }
  .section4 p {
    font-size: 30px;
    font-weight: 700;
    padding-top: 80px;
    margin-bottom: 60px;
  }
  .section4 .left {
    float: left;
  }
  .section4 .left .box1 {
    height: 240px;
    width: 410px;
    border-radius: 20px;
    background: white;
    color: black;
    transition: background 0.5s;
    margin: 80px 0 0 70px;
  }
  .section4 .left .box1:hover,  .section4 .left .box2:hover {
    background: red;
    color: white;
  }
  .section4 .left .box1:hover h4 {
    color: black;
  }
  .section4 .left .box1 p {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 5px 0;
    padding: 15px 0 0 0;
  }
  .section4 .left .box1 h5 {
    font-size: 15px;
    margin: 0 15px 15px 15px;
  }
  .section4 .left .box1 h4,  .section4 .left .box2 h4 {
    color: red;
  }
  .section4 .left .box1 h4 span {
    margin-right: 5px;
  }
  .section4 .left .box1 h4 svg {
    vertical-align: middle;
  }
  .section4 .left .box2 {
    height: 240px;
    width: 410px;
    border-radius: 20px;
    background: white;
    color: black;
    transition: background 0.5s;
    margin: 530px 0 0 70px;
  }
  .section4 .left .box2:hover h4 {
    color: black;
  }
  .section4 .left .box2 p {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 5px 0;
    padding: 15px 0 0 0;
  }
  .section4 .left .box2 h5 {
    font-size: 15px;
    margin: 0 15px 15px 15px;
  }
  .section4 .left .box2 h4 span {
    margin-right: 5px;
  }
  .section4 .left .box2 h4 img {
    vertical-align: middle;
  }
  .section4 .right {
    float: right;
  }
  .section4 .right .box1 {
    height: 220px;
    width: 420px;
    border-radius: 20px;
    background: white;
    color: black;
    transition: background 0.5s;
    margin: 450px 70px 0 0;
  }
  .section4 .right .box1:hover {
    background: red;
    color: white;
  }
  .section4 .right .box1:hover h4 {
    color: black;
  }
  .section4 .right .box1 p {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 5px 0;
    padding: 15px 0 0 0;
  }
  .section4 .right .box1 h5 {
    font-size: 15px;
    margin: 0 15px 15px 15px;
  }
  .section4 .right .box1 h4 {
    color: red;
  }
  .section4 .right .box1 h4 span {
    margin-right: 5px;
  }
  .section4 .right .box1 h4 img {
    vertical-align: middle;
  }
  .section4 .right .box2 {
    height: 220px;
    width: 420px;
    border-radius: 20px;
    background: white;
    color: black;
    transition: background 0.5s;
    margin: 510px 70px 0 0;
  }
  .section4 .right .box2:hover {
    background: red;
    color: white;
  }
  .section4 .right .box2:hover h4 {
    color: black;
  }
  .section4 .right .box2 p {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 5px 0;
    padding: 15px 0 0 0;
  }
  .section4 .right .box2 h5 {
    font-size: 15px;
    margin: 0 15px 15px 15px;
  }
  .section4 .right .box2 h4 {
    color: red;
  }
  .section4 .right .box2 h4 span {
    margin-right: 5px;
  }
  .section4 .right .box2 h4 svg {
    vertical-align: middle;
  }
  .section4 .mid-svg {
    display: inline-block;
  }
  .section5 {
    display: block;
    background: #EDEDED;
    height: 300px;
    text-align: center;
  }
  .section5 h2 {
    padding: 70px 0 5px 0;
  }
  .section5 .icons {
    padding: 20px 0;
  }
  .section5 .icons a {
    text-decoration: none;
    padding-right: 10px;
  }
   
  .section5 p a {
    font-style: italic;
    text-decoration: none;
    color: black;
  }
}/*# sourceMappingURL=style.css.map */
